<!DOCTYPE html>
<html>
<head>
  <title>Alert</title>
</head>
<body>
  <script>
    if ("<%= message %>" == "Login successful") {
      alert("<%= message %>");
      window.location.href ="/home" ;
    } else {
      alert("<%= message %>");
      window.location.href = "/";
    }
    
  </script>
</body>
</html>
